# Example environment variable configuration file

# This file contains key-value pairs for environment variables used in the project.
# Uncomment and set the values as needed.

# SOURCE_DIR=G:\\My Drive\\Medical Tech\\BRAW
# OUTPUT_DIR=G:\\My Drive\\Medical Tech\\MP4
# PROJECT_NAME=MedicalTech_BRAW_to_MP4
# RESOLVE_SCRIPT_API=C:\\Path\\To\\DaVinciResolveScript
# ADDITIONAL_ENV_VAR=value